.flip-card-container {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  perspective: 1000px; /* This is required for 3D transforms */
}

.flip-card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}


.flip-card-md {
  width: 400px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.flipped {
  transform: rotateY(180deg);
}

.flip-card-md.flipped {
  transform: rotateY(180deg);
}


.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* Hides the back face while the front is visible */
  display: flex;
  align-items: start;
  justify-content: start;
  font-size: 16px;
  background-color: #ffffff;
  /* border: 1px solid #000000; */
  border-radius: 8px;
  /* box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.1); */
  cursor: pointer;

}

/* .flip-card-front:hover {
  transform: scale(1.05);
} */


.flip-card-front-md,
.flip-card-back-md {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* Hides the back face while the front is visible */
  display: flex;
  align-items: start;
  justify-content: start;
  font-size: 24px;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.flip-card-back {
  transform: rotateY(180deg); /* Starts flipped, to be the back of the card */
  background-color: #f0f0f0;
  visibility: visible;
  backface-visibility: hidden;
}


.flip-card-back-md {
  transform: rotateY(180deg); /* Starts flipped, to be the back of the card */
  background-color: #f0f0f0;
  visibility: visible;
  backface-visibility: hidden;
}
